<div class="filterSection">
<div class="filterDiv" style="margin-top: 12px;">
    <p>Department</p>
    <select>
        <option>Front End Development</option>
        <option>Back End Development</option>
        <option>DB</option>
    </select>
</div>
<hr>
<div class="filterDiv">
    <p>Roll Type</p>
    <select>
        <option>Full Time</option>
        <option>Part Time</option>
        <option>Contractor</option>
    </select>
</div>
<hr>
<div class="filterDiv">
    <p>Designation</p>
    <select>
        <option>Senior UI Developer</option>
        <option>Jounior UI Developer</option>
        <option>Consultant UI Developer</option>
    </select>
</div>
<hr>
<div class="closeFilter" style="cursor: pointer;" (click)="closeFilterSection()"><</div>
<div class="filterDiv">
    <p>Experience</p>
    <select>
        <option>5 Years Above</option>
        <option>8 Years Above</option>
        <option>10 Years Above </option>
    </select>
</div>
<hr>
<div class="filterDiv">
    <p>Year Of Joining</p>
    <select>
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
    </select>
</div>
<hr>
<div class="filterDiv">
    <p>Location</p>
    <select>
        <option>Bangalore</option>
        <option>Mysore</option>
        <option>Mangalore</option>
    </select>
</div>
<hr>
<div class="filterDiv">
    <p>Team</p>
    <select>
        <option>OCBC Singapore</option>
        <option>OCBC India</option>
        <option>OCBC USA</option>
    </select>
</div>
<hr>
<br><br>

<div class="button">
    <button class="clearButton">Clear</button> &nbsp;
    <button class="submitButton">Submit</button>
</div>

</div>
